#IDE ignore
.idea

# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php
config/development.config.php

# Data
data/cache/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/
